  :root {
    --orange: #d87d4a;
    --black-och: #101010;
    --grey: #f1f1f1;
    --white: #fafafa;
    --pink: #fbaf85;
  }

  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;800&display=swap");

  body {
    font-family: "Manrope", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .containerr {
    max-width: 1190px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-card {
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    height: 729px;
    background-image: url(./assets/home/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 32px;
  }
  .nav-ul {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
  }

  .nav-ul a {
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    color: white;
    transition: 0.5s all;
  }
  .nav-ul a:hover {
    opacity: 80%;
  }
  a {
    text-decoration: none;
  }
  .navbar a:hover {
    color: var(--orange);
  }
  .navbar a {
    transition: 0.5s all;
  }
  .line {
    width: 100%;
    height: 1px;
    border: solid #434343 1px;
    opacity: 20px;
    margin-top: 36px;
  }
  .first-info {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    letter-spacing: 10px;
    color: #898989;
    margin-top: 128px;
  }
  .main__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 2px;
    color: white;
  }
  .main__desc {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: #c4c4c4;
  }
  .main-title-mt {
    margin-top: 24px;
  }
  .main-desc-mt {
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .btn {
    width: 160px;
    height: 48px;
    border: none;
  }

  .header-card1-btn {
    background-color: var(--orange);
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.76px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.9s all;
  }
  button:hover {
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #54eb0e 0%, #9599e2 100%);
    color: rgb(229, 226, 226);
    border: solid rgb(38, 37, 37) 3px;
  }

  .card2__card1 {
    width: 350px;
    height: 204px;
    border: solid rgb(245, 243, 243) 1px;
    background-color: #f1f1f1;
    position: relative;
  }
  .card2__card1__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.59px;
    letter-spacing: 1.2857142686843872px;
    text-align: center;
    color: black;
    margin-top: 116px;
  }
  .card2__card1__desc {
    font-size: 13px;
    font-weight: 700;
    line-height: 17.76px;
    letter-spacing: 1px;
    text-align: center;
    color: #787878;
    margin-top: 15px;
  }
  .card2__card1__desc span {
    color: #d87d4a;
    font-size: 16px;
    position: relative;
    margin-left: 5px;
  }
  .card2-1img {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
  }
  .card2 {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
  }
  .shadoww {
    position: absolute;
    margin-top: 30px;
    margin-left: 60px;
  }
  .card3 {
    width: 100%;
    height: 560px;
    background-color: #d87d4a;
    overflow: hidden;
    padding-top: 80px;
    display: flex;
    gap: 158px;
    margin-top: 168px;
  }
  .circle {
    position: absolute;
    left: 15px;
  }
  .card3-speaker {
    position: relative;
    width: 410.23px;
    height: 493px;
    margin-left: 117px;
    margin-bottom: 20px;
  }
  .card3__card1 {
    margin-top: 65px;
  }
  .card3-btn {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.76px;
    letter-spacing: 1px;
    width: 160px;
    height: 48px;
    cursor: pointer;
    transition: 0.8s all;
  }
  .card3-btn:hover {
    transition: 0.5s all;
    color: rgb(11, 11, 11);
    border: none;
  }
  .card3-bt-mt {
    margin-top: 24px;
    margin-bottom: 40px;
  }

  .card4 {
    width: 100%;
    height: 320px;
    background-image: url(./assets/home/desktop/image-speaker-zx7.jpg);
    margin-top: 48px;
    padding-left: 96px;
    padding-top: 101px;
  }
  button {
    transition: all 0.5s;
  }
  a button {
    transition: all 0.5s;
  }
  .card4-btn {
    position: absolute;
    width: 160px;
    height: 48px;
    border: solid black 2px;
    cursor: pointer;
    margin-top: 42px;
  }
  .card4-btn:hover {
    border: none;
    cursor: pointer;
  }
  .card5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
  }
  .card5__dav2 {
    padding-top: 100px;
    padding-left: 95px;
    width: 580px;
    height: 320px;
    background-color: #f1f1f1;
  }
  .card6 {
    width: 100%;
    height: 588px;
    display: flex;
    gap: 125px;
    justify-content: space-between;

    margin-top: 200px;
  }
  .card6 img {
    height: 588px;
  }
  .card6__card {
    margin-top: 147px;
  }
  footer {
    padding-top: 75px;
    padding-left: 165px;
    padding-right: 165px;
    max-width: 1600px;
    height: 365px;
    background-color: #101010;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .footer__div1 {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  .socials a img {
    width: 29px;
    height: 24px;
  }
  .socials {
    display: flex;
    gap: 16px;
  }
  .footer-deck {
    color: #888888;
    margin-top: 36px;
  }
  .headphons-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.4285714626312256px;
    text-align: center;
    color: white;
  }
  .headphons-header {
    width: 100%;
    height: 336px;
    background: #000;
  }
  .footer {
    margin-top: 200px;
  }
  .headphones-header-card {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 32px;
    padding-left: 165px;
    padding-right: 165px;
  }
  .headphons-title {
    margin-top: 98px;
  }
  .pages-card {
    height: 97px;
  }

  .number {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 32px;
  }
  .number input[type="number"] {
    display: block;
    height: 32px;
    line-height: 32px;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
  }
  .number input[type="number"]::-webkit-outer-spin-button,
  .number input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
  .number-minus {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 20px;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    border-right: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
    height: 32px;
  }
  .number-plus {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 20px;
    padding: 0;
    height: 32px;
    display: block;
    text-align: center;
    border: none;
    border-left: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
  }
  .pages-btn-wr {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .sum {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.59px;
    letter-spacing: 1.2857142686843872px;
    color: black;
    margin-bottom: 40px;
  }
  .pages-card3 {
    width: 100%;
    height: 318px;
    margin-top: 880px;
  }
  .features {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.1428571939468384px;
  }
  .pages-card3 {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-right: 140px;
  }
  .pages-descc {
    margin-top: 32px;
  }
  .xsx {
    margin-top: 29px;
  }
  .xsx-desc {
    margin-top: 10px;
  }
  .pages-card4 {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
  }
  .pages-card4__div {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .h33 {
    text-align: center;
    margin-top: 160px;
  }
  .pages-card5 {
    width: 100%;
    height: 471px;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
  }
  .pages-card5__card {
    width: 350px;
    height: 491px;
  }
  .pages-card5-btn {
    background: var(--orange);
    color: white;
    margin-left: 90px;
    margin-top: 8px;
  }
  .xx99 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.78px;
    letter-spacing: 1.7142857313156128px;
    text-align: center;
    color: black;
    margin-top: 20px;
  }
  .car5 {
    background-color: #919275;
    width: 377px;
    position: absolute;
    border-radius: 8px;
    top: 100px;
    z-index: 10;
    margin-top: 30px;
    margin-left: 820px;
    padding: 20px;
}

.remove {
    text-decoration: underline;
    cursor: pointer;
}

.car5 {
    transition: opacity 0.5s ease, display 0s linear 0.5s;
    opacity: 0;
    display: none;
}

.car5.visible {
    opacity: 1;
    display: block;
    transition: opacity 0.5s ease;

}

.car5 .center p {
    color: rgb(252, 244, 244);
    font-family: 'Manrope-500';
}

.car5 .center p:nth-child(2) {
    font-family: 'Manrope-700';
}

.car5 .bottom button {
    transition: all .5s ease;
    width: 100%;
    margin-top: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
.cost-size{
  display: flex;
  gap: 200px;
  margin-bottom: 30px;
}
.modal-small{
  margin-top: 20px;
}
.hus{
  background: rgb(245, 247, 243);
}